/* -------------------------------------------------------------------------

 Style Guide Boilerplate Bootstrap Edition v2.0.1
 Repo: https://github.com/kemie/Style-Guide-Boilerplate-Bootstrap-Edition
 Author: Brett Jankord (modified by Kemie Guaida)
 License: MIT

---------------------------------------------------------------------------- */
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

/* -------------------------------------------------------------------------
 Fonts
---------------------------------------------------------------------------- */

* {
  -webkit-font-smoothing: antialiased;
}

span, p {
  font-size: 14px;
}

body {
  font-family: Lato, 'Open Sans', sans-serif;
  letter-spacing: 0.5px;
}

code *, pre * {
  font-size: 13px !important;
  font-family: 'Oxygen Mono', Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace !important;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* -------------------------------------------------------------------------
 Layout
---------------------------------------------------------------------------- */
.gutter-32 > [class*='col-'] {
  padding-right: 16px;
  padding-left: 16px;
  padding-bottom: 32px;
}

.container {
  padding-left:30px;
  padding-right:30px;
}

.row-spacing {
  margin-bottom: 30px;
}

pre {
    border: 1px solid #e1e1e8;
}

.sg-example {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-top: 48px;
}

.sg-example-content {
  margin-bottom: 15px;
}

div.sg-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: "Example"
}

/* -------------------------------------------------------------------------
 Utility Classes
---------------------------------------------------------------------------- */
.sg-animated {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

/* -------------------------------------------------------------------------
 Modules
---------------------------------------------------------------------------- */

/* Headings
---------------------------------------------------------------------------- */
h1, h2, h3 {
  font-weight: normal;
  margin-bottom: 1em;
  margin-top: 0.5em;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  padding-bottom: .2em;
  margin-top: 1em;
  margin-bottom: 1.25em;
  border-bottom-width: 3px;
}

h2 {
  margin-bottom: .5em;
  padding-bottom: .5em;
  text-transform: capitalize;
  margin-top: 2em;
  border-bottom-width: 2px;
}

h3 {
  padding-bottom: .25em;
  border-color: #eee;
}

.sg-about {
  margin-top: 2em;
}
.row > .page-header {
  padding-top: 2em;
}

/* Buttons
---------------------------------------------------------------------------- */
.sg-btn {
  float: left;
  text-shadow: none !important;
}
.sg-btn--top {
  float: right;
}
ul.scroll-menu {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
  width: 100%;
  max-height: 500px;
}
.dropdown-header {
  text-transform: uppercase;
}
.sg-btn--select {
  position: absolute;
  right: 5px;
  top: 14px;
}
.sg-btn--select.is-active:hover:after {
  background: #111;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  top: 45px;
  color: #fff;
  content: "Selected code ready to be copied";
  font-size: .8em;
  display: block;
  right: 5px;
  padding: 5px 15px;
  position: absolute;
  white-space: nowrap;
  z-index: 98;
}
.sg-btn--select.is-active:hover:before {
  border: solid;
  border-color: #111 transparent;
  border-width: 0 6px 6px 6px;
  top: 40px;
  content: "";
  display: block;
  left: 75%;
  position: absolute;
  z-index: 99;
}

/* Hide specific buttons for use with JS */
.sg-btn--source {
  clear: both;
}

/* Show specific buttons if JS enabled */
.js .sg-btn--source, .js .sg-btn--select {
  display: block;
}

/* Hide specific buttons conditionally */
.operamini .sg-btn--source, .legacy .sg-btn--source {
  display: none;
}

/* Sections
---------------------------------------------------------------------------- */
.sg-section {
  margin-bottom: 32px;  /* For older browsers */
  margin-bottom: 3rem;
  overflow: hidden;
}
.sg-anchor {
  display: block;
  padding-top: 1em;
}

/* Colors
---------------------------------------------------------------------------- */

.sg-color-swatch {
  display: block;
  float: left;
  height: 160px;
  // margin: 0 20px 30px 0;
  width: 100%;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 5px solid #fff;
  position: relative;
  box-shadow: 0 0 0 1px #F5F5F5;
}

.sg-color-swatch div {
  background: #fff;
  bottom: 0;
  color: #414141;
  font-size: .8em;
  padding: 10px 0 5px;
  position: absolute;
  text-align: center;
  width: 100%;
  display: inline-block;
}

.sg-color-name {
  font-weight: bold;
  display: block;
}

.sg-color-swatch:hover span {
  opacity: 1;
}

/* Grid
---------------------------------------------------------------------------- */
.show-grid {
  padding: .5em 0;
}
.show-grid div {
  background-color: #dddddd;
  border: 1px solid #808080;
  padding: 0.5em;
}

/* Markup
---------------------------------------------------------------------------- */
.sg-markup-controls {
  overflow: hidden;
  padding-top: 1.5em;
  clear: both;
}
.sg-source {
  position: relative;
}
.sg-source pre {
  background: #333;
  border-radius: .5em;
  border: 1px solid #ddd;
  color: #fff;
  overflow-x: scroll;
  padding: .5em .3em;
}
.sg-source pre code {
  background: transparent;
}
.js .sg-source {
  max-height: 0;
  overflow: hidden;
}
.js .sg-source.is-active, .operamini .sg-source, .legacy .sg-source {
  max-height: 2400px;
}

/* -------------------------------------------------------------------------
 Prettyprint
---------------------------------------------------------------------------- */
.pln {
  color: #ffffff;
}

/* plain text */
@media screen {
  .str, .string {
    color: #E6DB74;
  }

  /* string content */
  .kwd, .keyword {
    color: #66D9EF;
  }

  /* a keyword */
  .com, .comment {
    color: #75715E;
  }

  /* a comment */
  .typ {
    color: #A6E22E;
  }

  /* a type name */
  .lit, .number {
    color: #AE81FF;
  }

  /* a literal value */

  /* punctuation, lisp open bracket, lisp close bracket */

  /* .pun, .opn, .clo { color: #660 } */
  .tag {
    color: #F92672;
  }

  /* a markup tag name */
  .atn {
    color: #A6E22E;
  }

  /* a markup attribute name */
  .atv {
    color: #E6DB74;
  }

  /* a markup attribute value */

  /*.dec, .var { color: #606 }*/

  /* a declaration; a variable name */
  .fun {
    color: #FF0000;
  }

  /* a function name */
}

/* Use higher contrast and text-weight for printable form. */
@media print, projection {
  .str {
    color: #006600;
  }
  .kwd {
    color: #006;
    font-weight: bold;
  }
  .com {
    color: #600;
    font-style: italic;
  }
  .typ {
    color: #404;
    font-weight: bold;
  }
  .lit {
    color: #004444;
  }
  .pun, .opn, .clo {
    color: #444400;
  }
  .tag {
    color: #006;
    font-weight: bold;
  }
  .atn {
    color: #440044;
  }
  .atv {
    color: #006600;
  }
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  border-left: 1px solid #444;
  margin: 0 0 0 3.3em;  /* IE indents via margin-left */
  padding: 0;
}
ol.linenums li {
  color: #bebec5;
  line-height: 1.5;
  padding-left: .8em;
}

/* -------------------------------------------------------------------------
 Legacy IE
---------------------------------------------------------------------------- */

/**
 * IE 7 Fixes
 */
.sg-color {
  *display: inline;
  zoom: 1;
}

/* End IE 7 Fixes */

/**
 * IE 6 Fixes
 */
pre {
  _white-space: pre;
  _white-space: pre-wrap;
  _word-wrap: break-word;
}

/* End IE 6 Fixes */