/* Plugin styles: Line Highlight */
pre[class*="language-"][data-line] {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
}
pre[data-line] code {
    position: relative;
    padding-left: 4em;
}
pre .line-highlight {
    margin-top: 0;
}

pre.line-numbers {
    position: relative;
    padding-left: 3.8em;
    counter-reset: linenumber;
}

pre.line-numbers > code {
    position: relative;
}

.line-numbers .line-numbers-rows {
    position: absolute;
    pointer-events: none;
    top: 0;
    font-size: 11px;
    line-height: 14px;
    left: -3.8em;
    width: 2em; /* works for line-numbers below 1000 lines */
    letter-spacing: -1px;
    border-right: 1px solid #EAEBEC;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.line-numbers-rows > span {
    pointer-events: none;
    display: block;
    counter-increment: linenumber;
}

.line-numbers-rows > span:before {
    content: counter(linenumber);
    color: #999;
    display: block;
    padding-right: 0.8em;
    text-align: right;
    line-height:19px;
}